@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 45px;
    background-color: grey;
}

.container {
    height: 100vh;
    display: grid;
    place-content: center;
}

.change {
    
}

#size {

}
